/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}


/* 
 get rid of padding & sizing on body so
 header is at top
*/
body {
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}


/* add some padding back to rest of page */
/*
main {
    padding:2vw;
}
*/

/* navbar */

.navbar {
    display: flex;
    flex-direction: column;
    margin-bottom:1rem;
}

.navbar-toggle {
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right:0;
}

.navbar-toggle svg {
    width:1.5rem;

    margin-top:20px;
}

.navbar-toggle .close {
    display:none;
}

.navbar-links {
    margin-top:1.5rem;

    display:flex;
    flex-direction: column;
    gap:2rem;
    align-items:center;
    margin:1rem;
}

.navbar-links ul li {
    list-style: none;
    display: none;
}

.navbar-links ul li:first-child {
    margin-right: auto;
}

.navbar-links a {
    text-decoration:none;
    color:inherit;
    font-size:1.2rem;
}

.navbar-checkbox {
    display:none
}

#navbar-checkbox:checked ~ .navbar-links ul li {
    display:block;
}

#navbar-checkbox:checked ~ label.navbar-toggle .close {
    display:block;
}

#navbar-checkbox:checked ~ label.navbar-toggle .menu {
    display:none;
}


/* logo */

.logo {
    display:flex;
    align-items:center;
}

.logo img {
    height:6vw;
    width:6vw;
    padding-right:20px;
}

.logo h1 {
    font-size:1.2em;
}

/* navigation list */

.navbar-links ul {
    padding-left:0px
}

.navbar-links li {
    list-style:none;
    display:block;
    padding:0.5em 0px;
}


/*  
 style all a tags in header 
 and then on hover
*/

.navbar-links a {
    color:#4939E6;
    background-color: #FCF226;
    font-size:1.5rem;
    padding:1rem;
    letter-spacing:2px;
    text-decoration: none;
    display:inline-block;
}

.navbar-links a:hover {
    filter:invert(1);
}




/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/

@media screen and (min-width:1000px) {

    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar ul {
        display:flex;
        justify-content: space-between;
    }

}

@media only screen and (min-width:1000px) {
    .navbar-toggle {
        display: none;
    }

    .navbar-links {
        flex-direction: row;
    }

    .navbar-links ul li {
        display: block;
    }
}